.category {
  position: relative;
  /* background-color: gray; */
  padding: 40px 0px;
  display: flex;
}

.from-india {
  position: relative;
  flex:2;
  padding-right: 20px;
  border-right: 1px solid rgb(201, 201, 201);
}

.card-container {
    position: relative;
  display: flex;
  height: 700px;
  overflow: auto;
  flex-wrap: wrap;
  padding: 20px 0px;
  justify-content: space-between;
}

.card-container::-webkit-scrollbar{
    display: none;
}

.card {
  position: relative;
  flex: 0 1 calc(100% / 2 - 10px);
  /* height: fit-content; */
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgb(211, 211, 211);

}

.card .card-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card-img img {
  position: relative;
  object-fit: cover;
  height: 230px;
  width: 100%;
  display: block;
}



.card-body .title {
  color: black;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 25px;
  padding: 5px 0px;
  transition: color 0.4s;
}

.card-body .title:hover {
  color: #31ab91;
}

.card-body .date {
    text-transform: capitalize;
  font-size: 14px;
  color: gray;
  padding: 5px 0px;
}

.card-body .description {
  font-size: 15px;
  padding: 5px 0px;
  color: rgb(61, 61, 61);
  line-height: 20px;
}

/* ---------from world-------- */
.from-world {
  position: relative;
  flex: 1;
  padding-left: 20px;
}

.from-world .from-world-title{
    padding: 10px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.from-world .card-container{
    display: block;
}

.from-world .card{
    display: flex;
    box-shadow: none;
    min-height: 100px;
    height: 130px;
    max-height: 150px;
    border: 1px solid rgb(116, 116, 116);
}

.from-world .card-img{
    width: 35%;
    height: 100%;
    overflow: hidden;
    position: relative;   
}

.from-world .card-body{
    width: 65%;
    overflow: hidden;
}

.from-world .card-img img{
    position: relative;
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 0.4s;
}

.from-world .card-img img:hover{
    filter:grayscale(1);
    transform: scale(1.1);
}

.from-world .card-body .title{
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    line-height: 18px;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
}

.from-world .card-body .date{
    padding: 0px 5px;
}

