.nav {
  position: relative;
  max-width: 100vw;
  width: 100%;
  height: max-content;
  background-color: black;
}

.nav-top {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.social-icons {
  flex: 1;
  display: flex;
}

.icon-holder {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 43, 43);
  margin: 5px;
  border-radius: 20px;
  transition: background-color 0.5s;
}

.icon-holder i {
  font-size: 22px;
  color: white;
  transition: color 0.5s;
}

.icon-holder:hover {
  background-color: white;
}

.icon-holder:nth-child(1):hover a i {
  color: #051eff;
}
.icon-holder:nth-child(2):hover a i {
  color: #05ff05;
}
.icon-holder:nth-child(3):hover a i {
  color: #ff05f3;
}

.icon-holder:nth-child(4):hover a i {
  color: #07c5ff;
}

.icon-holder:nth-child(5):hover a i {
  color: black;
}
.icon-holder:nth-child(6):hover a i {
  color: rgb(196, 10, 10);
}

.logo {
  flex: 2;
  text-align: center;
}

.search-bar {
  text-align: right;
  flex: 1;
  font-size: 20px;
  color: white;
}

.search-bar a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  padding-right: 40px;
}

.search-bar a:hover {
  color: #2ab391;
}

/*---------nav bar-----------*/
.nav-bar {
  position: sticky;
  top: 0px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: rgb(34, 34, 34);
  overflow: hidden;
  z-index: 999;
}

.nav-menu {
  margin-left: 20px;
  width: max-content;
  padding: 5px;
}

.nav-item {
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #2ab391;
}

/* -------------sidebar------------ */

.sidebar-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: black;
  z-index: 1000;
  padding: 20px;
  transition: all 0.4s;
}

.sidebar-button {
  width: max-content;
  color: white;
  padding: 0px 10px;
}

.sidebar-button a {
  color: white;
  font-size: 27px;
}

.sidebar-menu .country-list {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: scroll;
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
}

.sidebar-menu .country-list::-webkit-scrollbar {
  display: none;
}

.close-sidebar-menu {
  position: absolute;
  right: 0;
  text-align: right;
  margin-right: 10px;
  font-size: 30px;
  color: white;
}

.sidebar-menu p {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  padding: 20px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(180, 178, 178);
}

.sidebar-menu-item {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 0px;
  transition: color 0.3s;
}

.sidebar-menu-item:hover {
  color: #2ab391;
}

/* --------- search panel------*/
.search-panel {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  z-index: 11000;
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  display: none;
  animation: opensearch 1s ease-in-out 0s;
}

@keyframes opensearch {
  0% {
    top: -100%;
    left: 100%;
    border-radius: 0 0 0 50%;
  }
  100% {
    top: 0;
    left: 0;
    border-radius: 0 0 0 0%;
  }
}

.search-panel .close {
  position: absolute;
  font-size: 50px;
  color: white;
  right: 40px;
  top: 50px;
}

.search-panel form {
  position: relative;
  width: 600px;
  height: max-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-panel form p {
  display: inline-block;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 800;
  padding: 25px;
  letter-spacing: 1px;
  color: white;
}

.qsearch-bar {
  position: relative;
  width: 100%;
  display: flex;
  border-radius: 40px;
}

.qsearch-bar input,
#submit,
#sort-by {
  outline: none;
  border: none;
  padding: 10px;
}

#query {
  width: 100%;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 40px 0px 0px 40px;
  color: #21ab91;
}

#query:focus{
  border: 2px solid #ff0303;
}

#submit {
  width: max-content;
  transition: background-color 0.3s;
  padding: 10px 25px;
  border-radius: 0px 40px 40px 0px;
}

#submit i {
  width: 100%;
  height: 100%;
  font-size: 25px;
  transition: color 0.3s;
}

#submit:hover {
  background-color: #2ab391;
  cursor: pointer;
}
#submit:hover i {
  color: white;
}

/* ------floating social icons------ */

.floating-social-icons {
  position: fixed;
  right: 20px;
  top: 200px;
}
